*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: sans-serif;
    text-shadow: 2px 2px 0px #b0d3c4;
    padding: 0;
    margin: 0;
    font-family: 'Patrick Hand SC', cursive;
    text-align: center;
    background-color: #202020;
}

main {
    width: 400px;
    background: #22c381;
    background: linear-gradient(0deg, #22c381 0%, #2d76fd 100%);
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

.action-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

p {
    font-size: 30px;
    margin: 4px;
}

button {
    background-color: #7adbb3;
    font-size: 30px;
    padding: 8px 16px;
    margin: 10px;
    border: none;
    border-radius: 5px;
}

button.start-btn,
button.end-btn {
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    margin-bottom: 20px;
}

button.end-btn {
    color: #666;
}

img {
    width: 50px;
}